name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set timestamp
        run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}     
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build image
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USERNAME }}/2526_daw_u2_springboot:${TIMESTAMP}

      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/2526_daw_u2_springboot:${TIMESTAMP}
