name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag 2526_daw_u2_springboot:$(date +%s)

    - uses: actions/login-action@v3
    - name: Log into registry
      with:
        registry: registry.hub.docker.com
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

      run: docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_PASSWORD }} registry.hub.docker.com

    - name: Push the Docker image
      run: docker push registry.hub.docker.com/${{ secrets.DOCKERHUB_USERNAME }}/2526_daw_u2_springboot:$(date +%s)