name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.pablofdez06 }}
          password: ${{ secrets.dckr_pat_SH25goIzpkF0kvnJXPzlObyq3iE }}

      - name: Build image
        run: docker build . \
          --file Dockerfile \
          --tag ${{ secrets.pablofdez06 }}/2526_daw_u2_springboot:${TIMESTAMP}

      - name: Push image
        run: docker push ${{ secrets.pablofdez06 }}/2526_daw_u2_springboot:${TIMESTAMP}registry.hub.docker.com/${{ secrets.pablofdez06 }}/2526_daw_u2_springboot:$(date +%s)